/* Default Menu Styles */
.vm-menu {}
.vm-menu ul {}
.vm-menu ul ul {}
.vm-menu li {
	float: left;
	vertical-align: middle;
	padding: 0;
}
.vm-menu li a {
	color: #000;
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.0em;
	margin: 30px 7px 10px 7px;
	padding: 0;
	display: inline-block;
	text-decoration: none;
}
.vm-menu li a:hover {
	color: #666;
}
.vm-menu li ul {}
.vm-menu li li {}
.vm-menu li li a {

}

/* Main Menu */
.main-menu {
	padding-left: 35px;
}
.main-menu ul {}
.main-menu ul ul {}
.main-menu li {
	float: left;
	padding: 0;
}
.main-menu li a {
	color: #464646;
	font-family: Verdana, Geneva, sans-serif;
	margin: 20px 12px 0px 12px;
	padding: 0;
	display: inline-block;
	font-size: 1.1em;
	font-weight: normal;
}
.main-menu li a:hover {
	color: #F1C232;
}
.main-menu li ul {}
.main-menu li li {}
.main-menu li li a {

}
.main-menu .current-menu-item {
	border-bottom: solid 4px #000;
}
.main-menu .current-menu-item a {
	color: #F1C232;
}

/* Topbar Menu */
.topbar-menu {
	float: right;
}
.topbar-menu ul {}
.topbar-menu ul ul {}
.topbar-menu li {
	float: left;
	padding: 0;
}
.topbar-menu li a {
	color: #000;
	font-family: Verdana, Geneva, sans-serif;
	margin: 30px 7px 10px 7px;
	padding: 0;
	display: inline-block;
	font-size: 0.75em;
	font-weight: normal;
}
.topbar-menu li ul {}
.topbar-menu li li {}
.topbar-menu li li a {

}

/* Footer Menu's */
/* Topbar Menu */
#footer .vm-menu {

}
#footer .vm-menu ul {}
#footer .vm-menu ul ul {}
#footer .vm-menu li {
	float: none;
	padding: 0;
}
#footer .vm-menu li a {
	color: #000;
	font-family: Verdana, Geneva, sans-serif;
	margin: 4px 0px 4px 0px;
	padding: 0;
	font-size: 0.75em;
	font-weight: normal;
}
#footer .vm-menu li ul {}
#footer .vm-menu li li {}
#footer .vm-menu li li a {

}
